<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="body">
            <div class="container py-5">
                <h3>내용</h3>
                <div class="dropdown-divider"></div>
                
                <div>
                        <div class="pb-5">
                            과제명: <input type="text" th:value=${resultMap.TITLE}>
                            작성자: <input type="text" th:value=${resultMap.NAME}>
                            날짜 : <input type="date" th:value=${resultMap.DATE}>
                        </div>
                        <p th:text=${resultMap.CONTENT}></p>
                        <div>
                            <button type="submit">뒤로가기</button>
                        </div>
                    
                </div>
               
            </div>
    </th:block>
</div>
