<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="fragments/commonHead"></th:block>
    <!-- head 추가 -->
    <th:block layout:fragment="head"></th:block>
</head>

<body>
    <!-- 상단 로고 -->
    <div class="container p-5 mt-5">
        <div class="text-center mb-3" style="font-size:4rem;"><img th:attr="src=@{/capture.PNG}" style="width: 100px">NewStudy</div>
    </div>
    <!-- 카드 -->
    <th:block th:replace="fragments/card"></th:block>
    <!-- 공통 footer -->
    <th:block th:replace="fragments/footer"></th:block>
</body>

</html>