<head th:fragment="calendarhead">
    <link type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

    <link type="text/css" href="../static/css/fullcalendar.css" th:href="@{/css/fullcalendar.css}" rel="stylesheet" />

    <link type="text/css" href="../static/css/fullcalendar.print.css" th:href="@{/css/fullcalendar.print.css}"
        rel="stylesheet" />

    <link type="text/css" href="../static/css/calenderstyle.css" th:href="@{/css/calenderstyle.css}" rel="stylesheet" />

    <script type="text/javascript" src="../static/js/fullcalendar.js" th:src="@{/js/fullcalendar.js}"></script>

    <script type="text/javascript" src="../static/js/jquery-ui.custom.min.js"
        th:src="@{/js/jquery-ui.custom.min.js}"></script>

    <script type="text/javascript" src="../static/js/calenderex.js" th:src="@{/js/calenderex.js}"></script>
</head>

<div th:fragment="calendarbody">
    <div id="calendarbody">
        <div id='wrap'>
            <div id='calendar'></div>
        </div>
    </div>
</div>