<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- jQuery -->
<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Bootstrap Core CSS -->
<link type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- W3 CSS -->
<link type="text/css" href="../static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />

<link type="text/css" href="../static/css/bootstrap-datetimepicker" th:href="@{/css/bootstrap-datetimepicker" />

<link type="text/css" href="../static/css/main.css" th:href="@{/css/main" />


<link type="text/css" href="../static/css/fullcalendar.min.css" th:href="@{/css/fullcalendar" />

<link type="text/css" href="../static/css/material-icon.css" th:href="@{/css/material-icon" />

<link type="text/css" href="../static/css/roboto.css" th:href="@{/css/roboto" />

<link type="text/css" href="../static/css/select2.min.css" th:href="@{/css/select2" />