<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar_user"> 
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-sand" style="display:none" id="mySidebar">
        <form>
            <th:block th:replace="fragments/login"></th:block>
            <th:block th:replace="fragments/lesson"></th:block>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/main" formmethod="POST" >메인</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/notice" formmethod="POST">공지사항</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/introduction"
                formmethod="POST">강의소개</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/homework" formmethod="POST">내 과제</button>
        </form>
    </div>
</div>
<div th:fragment="sidebar_admin"> 
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-sand" style="display:none" id="mySidebar">
        <form>
            <th:block th:replace="fragments/login"></th:block>
            <th:block th:replace="fragments/lesson"></th:block>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/main" formmethod="POST" >메인</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/notice" formmethod="POST" >공지관리</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/member" formmethod="POST">맴버관리</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/introduction"formmethod="POST">강의소개 변경</button>
            <button class="w3-bar-item w3-button w3-xlarge " formaction="/class/homework" formmethod="POST">과제 관리</button>
        </form>
    </div>
</div>
</html>

