<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="sidebar"> <th:block th:replace="fragments/sidebar :: sidebar_admin"></th:block> </th:block>
    <th:block layout:fragment="body">
            <div class="container py-5">
                <h3>과제</h3>
                <div class="dropdown-divider"></div>
                <form>
                    <th:block th:replace="fragments/login"></th:block>
                    <th:block th:replace="fragments/lesson"></th:block>
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">제목</th>
                                <th scope="col">제출일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="resultData: ${resultMap.resultList}">
                                <td th:text=${resultData.LESSON_NUM}></th>
                                <td>
                                    <button type="submit" name="NUM" class="bg-white border-0 w-100 m-0" formaction="/class/hwcheck" formmethod="POST" th:value="${resultData.HW_NUM}" th:text=${resultData.HW_NAME}></button>
                                </th>
                                <td th:text=${resultData.DATE}></th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" formaction="/class/hw_submit" formmethod="POST">과제 만들기</button>
                    </div>
                </form>
            </div>
    </th:block>
</div>
