<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="sidebar"> <th:block th:replace="fragments/sidebar :: sidebar_admin"></th:block> </th:block>
    <th:block layout:fragment="body">
            <div class="container py-5">
                <h3>내용</h3>
                <div class="dropdown-divider"></div>
                
                <div>
                    <div class="dropdown-divider"></div>
                    <div class="mb-3">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" th:value="${resultMap.TITLE}" readonly>
                    </div>
    
                    <div class="mb-3">
                        <label for="reg_id">공지일</label>
                        <input type="text" class="form-control" th:value="${resultMap.DATE}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="content">내용</label>
                        <textarea class="form-control" rows="5" th:text=${resultMap.CONTENT} readonly></textarea>
                    </div>

                    
                </div>
               
            </div>
    </th:block>
</div>
