<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="body">
    <th:block layout:fragment="layout.search_enrolment"></th:block>

    <div class="container pt-3 ">
        <h1>내 강의실</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">강의번호</th>
                    <th scope="col">구분</th>
                    <th scope="col">강의명</th>
                    <th scope="col">강사명</th>
                    <th scope="col">강의시간</th>
                    <th scope="col">강의장소</th>
                    <th scope="col">제한인원</th>
                    <th scope="col">시작날짜</th>
                    <th scope="col">끝날짜</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="resultData: ${resultMap.resultList}">
                <td th:text=${resultData.LESSON_NUM} scope="row"></td>
                <td th:text=${resultData.TYPE}></td>
                <td th:text=${resultData.LESSON_NAME}></td>
                <td th:text=${resultData.LESSON_PRO}></td>
                <td th:text=${resultData.LESSON_TIME}></td>
                <td th:text=${resultData.LESSON_PLACE}></td>
                <td th:text=${resultData.LESSON_LIMIT}></td>
                <td th:text=${resultData.LESSON_START}></td>
                <td th:text=${resultData.LESSON_END}></td>
            </tr>
           
            </tbody>
        </table>
    </div>
    </th:block>
</html>