<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!--상단 내비게이션-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/home/" class="navbar-brand">Newstudy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a href="/home/lecture" class="nav-link">강의</a>
                </li>
                <li class="nav-item">
                    <a href="/home/homework" class="nav-link">과제</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a href="/home/mypage" class="nav-link">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a href="/home/customer" class="nav-link">고객지원</a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <div class="btn-group" role="group">
                        <a href="/home/signup" class="btn btn-outline-dark" role="button">회원가입</a>
                        <a href="/home/login" class="btn btn-outline-dark" role="button">로그인</a>
                </form>
            </ul>
        </div>


    </nav>

    <!--콘텐츠 컨테이너-->
    <div class="container">

    </div>

    <!--하단 푸터-->
    <div class="mt-3 text-center border-top border-secondary">
        Copyrights 2019 ⓒNewstudy, All rights Reserved.
        <div class="row no-gutters justify-content-center">
            <div class="col">
                <a href="/home/admin" class="text-secondary">관리자 페이지</a>
            </div>
        </div>
    </div>
</body>

</html>